/build/
.vs
/cmake-build-debug
/.idea
CMakeFiles/fc-tmp/sfml/update.cmake
CMakeFiles/fc-tmp/sfml/sfml-gitupdate.cmake
CMakeFiles/fc-tmp/sfml/sfml-gitclone.cmake
CMakeFiles/fc-tmp/sfml/patch.cmake
CMakeFiles/fc-tmp/sfml/download.cmake
CMakeFiles/fc-stamp/sfml/update.stamp
CMakeFiles/fc-stamp/sfml/sfml-update-info.txt
CMakeFiles/fc-stamp/sfml/sfml-patch-info.txt
CMakeFiles/fc-stamp/sfml/sfml-gitinfo.txt
CMakeFiles/fc-stamp/sfml/sfml-gitclone-lastrun.txt
CMakeFiles/fc-stamp/sfml/patch.stamp
CMakeFiles/fc-stamp/sfml/download.stamp
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/cmake.check_cache
CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.31.2/VCTargetsPath.vcxproj
CMakeFiles/3.31.2/VCTargetsPath.txt
CMakeFiles/3.31.2/CompilerIdCXX/Debug/vcpkg.applocal.log
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.31.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.31.2/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.31.2/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.31.2/CompilerIdC/Debug/vcpkg.applocal.log
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.31.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.31.2/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.31.2/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.31.2/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.31.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.31.2/CMakeSystem.cmake
CMakeFiles/3.31.2/CMakeRCCompiler.cmake
CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.31.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
CMakeFiles/3.31.2/CMakeCCompiler.cmake
CMakeCache.txt
_deps/sfml-src/
_deps/sfml-build/src/SFML/Window/SFMLWindowDependencies.cmake
_deps/sfml-build/src/SFML/System/SFMLSystemDependencies.cmake
_deps/sfml-build/src/SFML/Graphics/SFMLGraphicsDependencies.cmake
_deps/freetype-subbuild/ZERO_CHECK.vcxproj.filters
_deps/freetype-subbuild/ZERO_CHECK.vcxproj
_deps/freetype-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
_deps/freetype-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
_deps/freetype-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
_deps/freetype-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
_deps/freetype-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
_deps/freetype-subbuild/x64/Debug/freetype-populate/freetype.1604AE6B.tlog/freetype-populate.lastbuildstate
_deps/freetype-subbuild/x64/Debug/freetype-populate/freetype.1604AE6B.tlog/CustomBuild.write.1.tlog
_deps/freetype-subbuild/x64/Debug/freetype-populate/freetype.1604AE6B.tlog/CustomBuild.read.1.tlog
_deps/freetype-subbuild/x64/Debug/freetype-populate/freetype.1604AE6B.tlog/CustomBuild.command.1.tlog
_deps/freetype-subbuild/x64/Debug/freetype-populate/freetype-populate.recipe
_deps/freetype-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
_deps/freetype-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
_deps/freetype-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
_deps/freetype-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
_deps/freetype-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
_deps/freetype-subbuild/freetype-populate.vcxproj.filters
_deps/freetype-subbuild/freetype-populate.vcxproj
_deps/freetype-subbuild/freetype-populate.sln
_deps/freetype-subbuild/freetype-populate-prefix/tmp/freetype-populate-mkdirs.cmake
_deps/freetype-subbuild/freetype-populate-prefix/tmp/freetype-populate-gitupdate.cmake
_deps/freetype-subbuild/freetype-populate-prefix/tmp/freetype-populate-gitclone.cmake
_deps/freetype-subbuild/freetype-populate-prefix/tmp/freetype-populate-cfgcmd.txt
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/freetype-populate-update-info.txt
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/freetype-populate-patch-info.txt
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/freetype-populate-gitinfo.txt
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/freetype-populate-gitclone-lastrun.txt
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-test
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-patch
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-mkdir
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-install
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-download
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-done
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-configure
_deps/freetype-subbuild/freetype-populate-prefix/src/freetype-populate-stamp/Debug/freetype-populate-build
_deps/freetype-subbuild/CMakeLists.txt
_deps/freetype-subbuild/CMakeFiles/TargetDirectories.txt
_deps/freetype-subbuild/CMakeFiles/generate.stamp.list
_deps/freetype-subbuild/CMakeFiles/generate.stamp.depend
_deps/freetype-subbuild/CMakeFiles/generate.stamp
_deps/freetype-subbuild/CMakeFiles/freetype-populate.dir/Labels.txt
_deps/freetype-subbuild/CMakeFiles/freetype-populate.dir/Labels.json
_deps/freetype-subbuild/CMakeFiles/Debug/freetype-populate-complete
_deps/freetype-subbuild/CMakeFiles/CMakeConfigureLog.yaml
_deps/freetype-subbuild/CMakeFiles/cmake.check_cache
_deps/freetype-subbuild/CMakeFiles/83a19957c3216a21deb66a4443c64abf/generate.stamp.rule
_deps/freetype-subbuild/CMakeFiles/83a19957c3216a21deb66a4443c64abf/freetype-populate.rule
_deps/freetype-subbuild/CMakeFiles/5b9368562b5756cbdeb4ab5665c3c78e/freetype-populate-complete.rule
_deps/freetype-subbuild/CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
_deps/freetype-subbuild/CMakeFiles/3.31.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
_deps/freetype-subbuild/CMakeFiles/3.31.2/VCTargetsPath.vcxproj
_deps/freetype-subbuild/CMakeFiles/3.31.2/VCTargetsPath.txt
_deps/freetype-subbuild/CMakeFiles/3.31.2/CMakeSystem.cmake
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-update.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-test.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-patch.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-mkdir.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-install.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-download.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-configure.rule
_deps/freetype-subbuild/CMakeFiles/21f9fc255db82ec20fbc27703b58e89a/freetype-populate-build.rule
_deps/freetype-subbuild/CMakeCache.txt
_deps/freetype-subbuild/cmake_install.cmake
_deps/freetype-subbuild/ALL_BUILD.vcxproj.filters
_deps/freetype-subbuild/ALL_BUILD.vcxproj
_deps/freetype-src/
